fastapi
uvicorn
pydantic
langchain==1.2.13
langchain-core==1.2.22
langchain-community==0.4.1
langchain-google-genai==3.2.0
langchain-text-splitters==1.1.1
python-dotenv
supabase
pypdf
tiktoken
unstructured
lxml
pypandoc
pyjwt
python-multipart
google-genai
pymupdf
