fastapi
uvicorn
pydantic
langchain==0.3.25
langchain-community==0.3.21
langchain-google-genai==2.1.12
python-dotenv
supabase
pypdf
tiktoken
unstructured
lxml
pypandoc
pyjwt
python-multipart
google-generativeai
pymupdf
